.navbar-nav img.img-circle {
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
.panel{
    margin-left: 10%;
    margin-right: 10%;
}
.extended-btn {
    min-width: 120px;
    display: inline-block !important;
    margin-left: 25%;
}
  
@media (max-width: 768px) {
.extended-btn {
    width: 100%;
    margin: 10px 0 !important;
}
}