<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Information</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/info.css">
</head>
<body class="background">
    <div class="content">
        <div class="profile-header">
            <div class="avatar">
                <img src="../media/chinese_food.png" alt="User-photo">
            </div>
            <div class="user-info">
                <h1>Shellie Liu</h1>
                <p>2 Beith Street, Glasgow, G11 6EF</p>
                <p>Email:<a href="mailto:#">123456@outlook.com</a></p>
                <p><abbr title="Phone Number">P:</abbr> (44) 07421051834</p>
            </div>
        </div>
        <div class="container">
            <div class="card" onclick="window.location.href='homepage.html'">
                <img class="pic" src="../static/bootstrap-icons-1.11.3/box-arrow-in-right.svg" alt="">
                <h3>Start</h3>
                <p>Registration Current Term: Complete</p>
            </div>
        
           <div class="card" onclick="window.location.href='orders.html'">
               <img class="pic" src="../static/bootstrap-icons-1.11.3/clock-history.svg" alt="" onclick="window.location.href='history.html'">
               <h3>Orders</h3>
               <p>View Previous Records</p>
           </div>
        
            <div class="card" onclick="window.location.href='address.html'">
                <img class="pic" src="../static/bootstrap-icons-1.11.3/house-check.svg" alt="">
                <h3>Address</h3>
                <p>Add or Edit Addresses</p>
            </div>
        
            <div class="card" onclick="window.location.href='login.html'">
                <img class="pic" src="../static/bootstrap-icons-1.11.3/box-arrow-right.svg" alt="">
                <h3>LogOut</h3>
                <p>Re-login New User</p>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>