<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <title>Register</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/register.css"/>
</head>
<body>
<div class="background">
    <div class="account">
        <a href="/login">
            <i class="bi bi-arrow-left" style="color: black;font-size: x-large;"></i>
        </a>
        <div class="text-center">
            <h2>Welcome to Register!</h2>
        </div>
        <form id="registerForm">
            <ul>

                <li>
                    <label for="InputName">Merchant Name</label>
                    <input type="text" class="form-control" id="InputName" placeholder="merchant name" required>
                </li>
                <li>
                    <label for="InputLoc1">Latitude</label>
                    <input class="form-control" type="text" id="InputLoc1" placeholder="Latitude" required>
                </li>
                <li>
                    <label for="InputLoc2">Longitude</label>
                    <input type="text" class="form-control" id="InputLoc2" placeholder="Longitude" required>
                </li>
                <li>
                    <label for="Minimum">Minimum order</label>
                    <input type="text" class="form-control" id="Minimum" placeholder="Minimum order" required>
                </li>
                <li>
                    <label for="category">Category</label>
                    <select class="form-control" id="category">
                        <option>Fast Food</option>
                        <option>Chinese Food</option>
                        <option>Sushi</option>
                        <option>Drink And Coffee</option>
                        <option>Groceries</option>
                    </select>
                </li>
                <li>
                    <label for="InputUser">User name</label>
                    <input type="password" class="form-control" id="InputUser" placeholder="User name" required>
                </li>
                <li>
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" required>
                </li>
                <br>
                <br>
                <li class="button-group">
                    <button type="submit" class="btn btn-success btn-block">submit</button>
                </li>
                <li class="button-group">
                    <button type="reset" class="btn btn-danger btn-block">reset</button>
                </li>
            </ul>
        </form>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<script src="/static/js/merchant_register.js"></script>
</body>
</html>
