<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchant orders</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.0/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/merchant_orders.css">
</head>
<body>

    <br><br>
    <div class="col-xs-4">
        <a href="/merchant/edit" class="btn btn-info btn-sm">Return</a>
    </div>
    <br><br><br>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Preparing</h3>
        </div>
        <div class="panel-body">
            {% for order in preparing_orders %}
            <div class="list-group">
                <div class="list-group-item active">
                    <a href="/merchant/confirm/preparing">
                        <h4 class="list-group-item-heading">
                            {{ order.user.username }}
                            <small class="pull-right">Order #{{ order.id }}</small>
                        </h4>
                    </a>
                    <p class="list-group-item-text">
                        {% if order.user_address %}
                        Address: {{ order.user_address.address }}<br>
                        {% endif %}
                        Total Price: £{{ order.total|floatformat:2 }}<br>
                        Items Information:
                        <ul>
                            {% for item in order.item_details %}
                            <li>{{ item.name }} x {{ item.quantity }} (£{{ item.subtotal|floatformat:2 }})</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
            {% empty %}
            <div class="list-group-item">
                <p class="text-muted">No Preparing orders</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Await</h3>
        </div>
        <div class="panel-body">
            {% for order in awaiting_orders %}
            <div class="list-group">
                <div class="list-group-item active">
                    <a href="/merchant/confirm/await">
                        <h4 class="list-group-item-heading">
                            {{ order.user.username }}
                            <small class="pull-right">Order #{{ order.id }}</small>
                        </h4>
                    </a>
                    <p class="list-group-item-text">
                        {% if order.user_address %}
                        Address: {{ order.user_address.address }}<br>
                        {% endif %}
                        Total Price: £{{ order.total|floatformat:2 }}<br>
                        Items Information:
                        <ul>
                            {% for item in order.item_details %}
                            <li>{{ item.name }} x {{ item.quantity }} (£{{ item.subtotal|floatformat:2 }})</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
            {% empty %}
            <div class="list-group-item">
                <p class="text-muted">No Await orders</p>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Finished</h3>
        </div>
        <div class="panel-body">
            {% for order in finished_orders %}
            <div class="list-group">
                <div class="list-group-item active">
                    <a href="/merchant/confirm/finish/">
                        <h4 class="list-group-item-heading">
                            {{ order.user.username }}
                            <small class="pull-right">Order #{{ order.id }}</small>
                        </h4>
                    </a>
                    <p class="list-group-item-text">
                        {% if order.user_address %}
                        Address: {{ order.user_address.address }}<br>
                        {% endif %}
                        Total Price: £{{ order.total|floatformat:2 }}<br>
                        Items Information:
                        <ul>
                            {% for item in order.item_details %}
                            <li>{{ item.name }} x {{ item.quantity }} (£{{ item.subtotal|floatformat:2 }})</li>
                            {% endfor %}
                        </ul>
                    </p>
                </div>
            </div>
            {% empty %}
            <div class="list-group-item">
                <p class="text-muted">No finished orders</p>
            </div>
            {% endfor %}
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</body>
</html>